@page "/authenticate"
@using TestMaker.Web.Pages.Authentication;
@model AuthenticationModel
@{
    ViewData["Title"] = "Autenticação";
}

<div class="container text-center">
    <h1 class="text-black">Autenticação</h1>
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-5">
            @Html.TextBoxFor(t => t.RegistrationNumber, new { @class = "form-control", @placeholde = "RU" })
            </div>
            <div class="col-md-5">
            @Html.TextBoxFor(t => t.Password, new { @class = "form-control", @placeholde = "Senha" })
            </div>
            <div class="form-group col-md-1">
                <input type="submit" value="Autenticar" class="btn btn-success" />
            </div>
        </div>
    }
</div>