@page
@using UninterTestMaker.Web.Pages.Evaluation;
@model EvaluationModel
@{
    ViewData["Title"] = "TestMaker";
}

<h1 class="text-danger">Seja bem-vindo ao TestMaker da Uniter.</h1>
@using (Html.BeginForm())
{
    @Html.TextBoxFor(t => t.EvaluationJson, new { @class = "form-control", @placeholde = "URL da prova" })

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}
